
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Questionnaire ETML</title>
  <link rel="stylesheet" href="/resources/css/app.css">
</head>
<body>

  <main class="container">

    <header class="header">
      <section class="logo-section">
        <img src="https://www.etml.ch/fileadmin/templates/images/logo-etml.svg" alt="ETML Logo" class="logo"/>
        <p class="school-info">
          Ecole technique<br/>
          Ecole des métiers<br/>
          Lausanne
        </p>
      </section>
      <h1 class="title">Questionnaire</h1>
    </header>

    <section class="content">
      <h2 class="subtitle">Entrez votre nom ...</h2>
      <div>
        <form method="post" action="/">
          {{ csrfField() }}
          <input type="text" name="prenom">
          <input type="submit" value="enregistrer">
        </form>
      </div>
    </section>
  </main>

</body>
</html>

