
<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Question {{ question.id }}</title>
 <link rel="icon" href="https://www.etml.ch/themes/etml/assets/images/etml_favicon_v3.ico">
 <link rel="stylesheet" href="/resources/css/app.css">
</head>
<body>
   <header>
 <img src="https://www.etml.ch/themes/etml/assets/images/etml_logo_complet.svg" draggable="false">
 <h1>Questionnaire</h1>
 </header>
 <main>
 <h1>Question n°{{ question.id }} (Parcours Étudiant)</h1>

 <p class="question-text">
 {{ question.question }}
 </p>

 <form method="POST" action="/etudiant/question/{{ question.id }}" class="variants">
    {{ csrfField() }}

    <button type="submit" name="reponse" value="1" class="button-small">
      {{ question.reponse1Text }}
    </button>

    @if(question.reponse2Text)
    <button type="submit" name="reponse" value="2" class="button-small">
      {{ question.reponse2Text }}
    </button>
    @endif

    @if(question.reponse3Text)
    <button type="submit" name="reponse" value="3" class="button-small">
      {{ question.reponse3Text }}
    </button>
    @endif

    @if(question.reponse4Text)
    <button type="submit" name="reponse" value="4" class="button-small">
      {{ question.reponse4Text }}
    </button>
    @endif

  </form>
 </main>
<script>
 document.addEventListener('DOMContentLoaded', function() {
 document.addEventListener('contextmenu', function(e) {
 e.preventDefault();
 });
 });
</script>
</body>
</html>